<header id="stickyHeader" style="position: fixed; top: 0; width: 100%; z-index: 9999;">
    <div class="header-top-bar">
      <div class="container"> 
        <div class="bottom-bar">
          <div class="logo">
            <a href="index.html#">
              <img alt="logo" src="assets/img/logo.png">
            </a>
          </div>
          <nav></nav>
          <div class="login">
            <button 
                    type="button"
                    (click)="resetApp()"
                    class="boton-reiniciar"
                    title="Reiniciar todo"
                    style="padding: 5px 10px; border-radius: 4px; margin-right: 10px;">
              <i class="fas fa-redo-alt me-1"></i> Reiniciar
            </button>
    
            <a [ngClass]="{'active-route': virtualRouterService.activeroute === 'one'}" 
               class="step-button"
               (click)="virtualRouterService.setActiveRoute('one')">
              <span>1</span>
            </a>
            <a *ngIf="hasSubmittedForm()"
               [ngClass]="{'active-route': virtualRouterService.activeroute === 'two'}" 
               class="step-button"
               (click)="virtualRouterService.setActiveRoute('two')">
              <span>2</span>
            </a>
            <a *ngIf="hasSubmittedForm()"
               [ngClass]="{'active-route': virtualRouterService.activeroute === 'three'}" 
               class="step-button"
               (click)="virtualRouterService.setActiveRoute('three')">
              <span>3</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>